<article>
    <h3>Titulo del evento</h3>
    <time>Fecha de inicio</time>
    <time>Fecha de final</time>
    <p>Autor</p>
    <p>Categoría</p>
    <img src="">
    <p>Contenido del evento</p>
</article>
<article>
    <h3>Titulo del evento</h3>
    <time>Fecha de inicio</time>
    <time>Fecha de final</time>
    <p>Autor</p>
    <p>Categoría</p>
    <img src="">
    <p>Contenido del evento</p>
</article>
<article>
    <h3>Titulo del evento</h3>
    <time>Fecha de inicio</time>
    <time>Fecha de final</time>
    <p>Autor</p>
    <p>Categoría</p>
    <img src="">
    <p>Contenido del evento</p>
</article>
